{% extends "layout.html" %}
{% block body %}
{% if error %}
	{{ error }}
{% else %}
<h1>CodeChef - Comparer</h1>
<div class = "table-responsive">
	<h3>Ranks</h3>
	<table class = "table table-bordered table-condensed table-striped table-hover">
		<thead>
			<tr>
				<td>Handle</td>
				<td><a href={{data1['link']}}>{{data1['id']}}</a></td>
				<td><a href={{data2['link']}}>{{data2['id']}}</a></td>			
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Global Rank (Long)</td>
				<td>{{data1['ranks']['long_global']}}</td>
				<td>{{data2['ranks']['long_global']}}</td>
			</tr>
			<tr>
				<td>Country Rank (Long)</td>
				<td>{{data1['ranks']['long_country']}}</td>
				<td>{{data2['ranks']['long_country']}}</td>
			</tr>
			<tr>
				<td>Global Rank (Short)</td>
				<td>{{data1['ranks']['short_global']}}</td>
				<td>{{data2['ranks']['short_global']}}</td>
			</tr>
			<tr>
				<td>Country Rank (Short)</td>
				<td>{{data1['ranks']['short_country']}}</td>
				<td>{{data2['ranks']['short_country']}}</td>
			</tr>
		</tbody>
	</table>
</div>


<div class = "table-responsive">
	<h3>Submission Details</h3>
	<table class = "table table-bordered table-condensed table-striped table-hover">
		<thead>
			<tr>
				<td></td>
				<td><a href={{data1['link']}}>{{data1['id']}}</a></td>
				<td><a href={{data2['link']}}>{{data2['id']}}</a></td>		
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Problems Solved</td>
				{% if data1['stats']['solved'] == data2['stats']['solved'] %}
					<td class = "warning">{{ data1['stats']['solved'] }}</td>
					<td class = "warning">{{ data2['stats']['solved'] }}</td>
				{% elif data1['stats']['solved'] > data2['stats']['solved'] %}
					<td class = "success">{{ data1['stats']['solved'] }}</td>
					<td class = "danger">{{ data2['stats']['solved'] }}</td>
				{% else %}
					<td class = "danger">{{ data1['stats']['solved'] }}</td>
					<td class = "success">{{ data2['stats']['solved'] }}</td>
				{% endif %}
			</tr>
			<tr>
				<td>Solutions Submitted</td>
				<td>{{ data1['stats']['submitted'] }}</td>
				<td>{{ data2['stats']['submitted'] }}</td>
			</tr><tr>
				<td>Solutions Accepted</td>
				<td>{{ data1['stats']['ac'] }}</td>
				<td>{{ data2['stats']['ac'] }}</td>
			</tr><tr>
				<td>Wrong Answer</td>
				<td>{{ data1['stats']['wa'] }}</td>
				<td>{{ data2['stats']['wa'] }}</td>
			</tr><tr>
				<td>Compile Error</td>
				<td>{{ data1['stats']['ce'] }}</td>
				<td>{{ data2['stats']['ce'] }}</td>
			</tr><tr>
				<td>Runtime Error</td>
				<td>{{ data1['stats']['re'] }}</td>
				<td>{{ data2['stats']['re'] }}</td>
			</tr><tr>
				<td>Time Limit Exceeded</td>
				<td>{{ data1['stats']['tle'] }}</td>
				<td>{{ data2['stats']['tle'] }}</td>
			</tr>
		</tbody>
		
	</table>
</div>

<div class = "table-responsive">
	<h3>Contest Details - Participated by both <a href="../{{data1['id']}}">{{data1['id']}}</a> and <a href="../{{data2['id']}}">{{data2['id']}}</a></h3>
	<table class = "table table-bordered table-condensed table-striped table-hover">
		<thead>
			<tr>
				<td>Contest</td>
				<td>Rank - {{data1['id']}}</td>
				<td>Rank - {{data2['id']}}</td>
			</tr>
		</thead>
		<tbody>
			{% for con in union %}
			<tr>
				<td><a href={{ "http://www.codechef.com/rankings/" + con }}>{{ con }}</a></td>
				{% if contestData[data1['id']][con]['rank'] == contestData[data2['id']][con]['rank'] %}
					<td class = "warning">{{contestData[data1['id']][con]['rank']}}</td>
					<td class = "warning">{{contestData[data2['id']][con]['rank']}}</td>
				{% elif contestData[data1['id']][con]['rank'] < contestData[data2['id']][con]['rank'] %}
					<td class = "success">{{contestData[data1['id']][con]['rank']}}</td>
					<td class = "danger">{{contestData[data2['id']][con]['rank']}}</td>
				{% else %}
					<td class = "danger">{{contestData[data1['id']][con]['rank']}}</td>
					<td class = "success">{{contestData[data2['id']][con]['rank']}}</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endif %}
{% endblock %}
